<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
    <!--<ThresholdFilter level="INFO"/>-->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="MainLogFile" fileName="main.log" immediateFlush="false" append="false">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ExpLogFile1" fileName="exp1.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%msg"/>
        </File>
        <File name="ExpLogFile_by_taskset" fileName="exp_by_taskset.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%msg"/>
        </File>
        <File name="ExpLogFile_by_util" fileName="exp_by_util.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%msg"/>
        </File>
        <File name="ExpLogFile_by_numOfTasksPerTaskset" fileName="exp_by_numOfTasksPerTaskset.log" immediateFlush="true" append="false">
            <PatternLayout pattern="%msg"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="error">
            <!--<AppenderRef ref="Console" />-->
            <AppenderRef ref="MainLogFile"/>
        </Root>
        <Logger name="console" level="TRACE">
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="exp1" level="TRACE">
            <AppenderRef ref="ExpLogFile1"/>
        </Logger>
        <Logger name="exp_by_taskset" level="TRACE">
            <AppenderRef ref="ExpLogFile_by_taskset"/>
        </Logger>
        <Logger name="exp_by_util" level="TRACE">
            <AppenderRef ref="ExpLogFile_by_util"/>
        </Logger>
        <Logger name="exp_by_numOfTasksPerTaskset" level="TRACE">
            <AppenderRef ref="ExpLogFile_by_numOfTasksPerTaskset"/>
        </Logger>
    </Loggers>
</Configuration>